<div class="nft-container">
	<div class="nft-avt">
		<img src="https://picsum.photos/250/250" alt="">
	</div>
	<div class="nft-name">
		Nguyen Nhat Linh
	</div>
	<div class="nft-container__content">
		<h4>Blockquotes</h4>
		<p>The blockquote element is used to present content from another source:</p>
		<blockquote class="blockquote">
			<p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
			<footer class="blockquote-footer">From WWF's website</footer>
		</blockquote>
	</div>
	<div class="call-action">
		<button class="btn bg-main-color" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
		Social Media
		</button>
		<div class="offcanvas offcanvas-end" id="demo">
			<div class="offcanvas-header">
				<h1 class="offcanvas-title">Heading</h1>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
			</div>
			<div class="offcanvas-body">
				<p>Some text lorem ipsum.</p>
				<p>Some text lorem ipsum.</p>
				<p>Some text lorem ipsum.</p>
				<button class="btn btn-secondary" type="button">A Button</button>
			</div>
		</div>
	</div>
	<div class="nft-skill">
		<p class="nft-skill__title">Skill</p>
		<strong>HTML</strong>
		<div class="progress">
			<div class="progress-bar progress-bar-animated bg-main-color" style="width:70%"></div>
		</div>
	</div>
</div>